{% extends 'bases/base.html' %}

{% load static %}

{% block 'head' %}
  <link href="{% static 'perfil/css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}
  <div class="container">
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
        <span class="fonte-destaque"><center>{{mes_atual}}</center></span>
      </div>
      <div class="col-md-3">
        <a style="text-decoration: none; color:white;" href="{% url 'novo_valor' %}">
          <div class="card">
            <div class="row">
              <div class="col-md-8">
                <span  class="fonte-destaque">R$ {{total_entradas}}</span>
              </div>
              <div class="col-md">
                <img class="icone-setas" src="{% static 'perfil/img/entradas.png' %}">
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a style="text-decoration: none; color:white;" href="{% url 'novo_valor' %}">
          <div class="card">
            <div class="row">
              <div class="col-md-8">
                <span  class="fonte-destaque">R$ {{total_saidas}}</span>
              </div>
              <div class="col-md">
                <img class="icone-setas" src="{% static 'perfil/img/saidas.png' %}">
              </div>
            </div> 
          </div>
        </a>
      </div>
      </div>
    <br>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="saldo">
            <span class="fonte-destaque">Saldo total</span>
            <br>
            <span class="font-light">R$ {{total_contas}}</span>
          </div>
          <hr class="hr-borda">
          <span class="fonte-destaque">Suas contas</span>
          <div class="div-contas">
            {% for conta in contas %}
              <div class="lista-conta">
                <span>{{conta.apelido}}</span>
                <span class="total-conta">R$ {{conta.valor}}</span>
              </div>
              <br>
            {% endfor %}
          </div>
          <hr class="hr-borda">
          <a href="{% url 'gerenciar' %}" class="botao-principal">Gerenciar contas</a>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="row">
            <div class="col-md">
              <div class="saldo">
                <span class="fonte-destaque">Ganhos no mês</span>
                <br>
                <span class="font-light">R$ {{total_ganhos}}</span>
              </div>
            </div>
            <div class="col-md">
              <div class="despesa">
                <span class="fonte-destaque">Meta de despesas</span>
                <br>
                <span class="font-light">R$ {{total_despesas}}</span>
              </div>
            </div>
          </div>
          <hr class="hr-borda">
          <!-- <span class="fonte-destaque">Total livre</span>
          <span class="font-light negativo">R$ 0.000,00</span>
          <hr class="hr-borda"> -->
          <a href="{% url 'novo_valor' %}" class="botao-principal">Adicionar entrada/saída</a>
          <hr class="hr-borda">
          <a href="{% url 'definir_planejamento' %}" class="botao-principal">Gerenciar planejamento mensal</a>
          <hr class="hr-borda">
          <a href="{% url 'ver_planejamento' %}" class="botao-principal">Vizualizar planejamento detalhado</a>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <!-- <div class="col-md-4">
        <div class="card">
          <div class="saldo">
            <span class="fonte-destaque">Planejamento</span>
          </div>
          <hr class="hr-borda">
          <a href="{% url 'definir_planejamento' %}" class="botao-principal">Definir planejamento</a>
          <hr class="hr-borda">
          <a href="{% url 'ver_planejamento' %}" class="botao-principal">Ver planejamento</a>
        </div>
      </div> -->
      <div class="col-md-6">
        <div class="card">
          <span class="fonte-destaque">Equilíbrio financeiro</span>
          <hr class="hr-borda">
          <div>
            <span style="float: left;">Gastos essenciais</span>
            <span style="float: right;">{{percentual_gastos_essenciais}}%</span>
          </div>
          <br>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" 
              style="width: {{percentual_gastos_essenciais}}%" 
              aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <hr class="hr-borda">
          <div>
            <span style="float: left;">Gastos não essenciais</span>
            <span style="float: right;">{{percentual_gastos_nao_essenciais}}%</span>
          </div>
          <br>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" 
              style="width: {{percentual_gastos_nao_essenciais}}%" 
              aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>

          <hr class="hr-borda">
          <a href="{% url 'gerenciar' %}" class="botao-principal">Gerenciar categorias</a>

        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <span class="fonte-destaque">Gerenciar faturas</span>
          <hr class="hr-borda">

          <span class="fonte-destaque">Próximas ao vencimento</span>
          {% if contas_proximas == 0 %}
            <span class="fonte-light">Nenhuma conta próxima ao vencimento</span>
          {% elif contas_proximas == 1 %}
            <span class="fonte-light">1 conta próxima ao vencimento</span>
          {% else %}
            <span class="fonte-light">{{contas_proximas}} contas próximas do vencimento</span>
          {% endif %}
          <br>
          <span class="fonte-destaque negativo">Vencidas</span>
          {% if contas_vencidas == 0 %}
            <span class="fonte-light">Nenhuma conta vencida</span>
          {% elif contas_vencidas == 1 %}
            <span class="fonte-light">1 conta vencida</span>
          {% else %}
            <span class="fonte-light">{{contas_vencidas}} contas vencidas</span>
          {% endif %}

          <hr class="hr-borda">
          <a href="{% url 'ver_contas' %}" class="botao-principal">Ver mais</a>
          
          <hr class="hr-borda">
          <a href="{% url 'definir_contas' %}" class="botao-principal">Nova conta mensal</a>

        </div>
    </div>
  </div>
  <br>
  <br>
{% endblock %}